// imports 
@import "variables";
@import "gmail-scrollbars";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

object[type^="application/gas-events-uni"] {
    display: none;
}

html, 
body {
    text-shadow: 0 0 #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

#conteudo{
    width: 100%;
}

.fa-facebook-text, .fa-twitter-text, .fa-linkedin-text, .fa-instagram-text{
    display: none;
}

.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-instagram:hover{
    color: $my-primary-color;
}

.social-icons{
    ul{
        list-style: none;
    }
    transition: margin-bottom .3s ease-in-out;
    margin-bottom: 15px;
}

md-toolbar#nav_f{
    height: 90px;
    max-height: 90px;
    background-color: white !important;
    color: black !important;
    position: fixed;
    transition: height .4s ease-out, max-height .3s ease-out, box-shadow .5s ease-in;
    img{
        transition: width .3s ease-in-out;
        width: 200px;
    }
}

.nav-shrink{
    height: 50px !important;
    max-height: 50px !important;
    img{
        width: 140px !important;
    }
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.fa-facebook-square, .fa-facebook-text, 
.fa-twitter-square, .fa-twitter-text, 
.fa-github-square, .fa-github-text, 
.fa-linkedin-square, .fa-linkedin-text,
.fa-google-plus-square, .fa-google-plus-text,
.fa-instagram, .fa-instagram-text {
    transition: color .3s ease-in-out;
}

.icon-medium{
    font-size: 1.5em;
}

.icon-large{
    font-size: 2em;
}

.slogan{
    margin-bottom: 20px;    
}

#form-submit{
    bottom: 15px;
    i{
        vertical-align: sub;
    }
}

@media only screen and (min-width: 481px) {
    
}

@media only screen and (min-width: 992px) {
    .medium{
        font-size: 1.5em;
    }

    .slogan-text{
        font-size: 1.2em;
        padding-top: 40px;
    }
    
    .slogan{
        transition: margin-bottom .3s ease-in-out;
    }
    
    .nav-shrink{
        .slogan{
            margin-bottom: 40px;
        }
        .social-icons{
            margin-bottom: 40px;
        }
    }
    
    .banner{
        padding-top: 50px;
        transform: translateY(25%);
        height: 500px;
    }
    
    #navbar-left{
        .navbar-left-item .material-icons{
            font-size: 1.6em;
            vertical-align: middle;
        }
        a.navbar-left-item{
            text-decoration: none;
            font-size: 1.2em;
        }
        a.navbar-left-item, a:active.navbar-left-item, a:visited.navbar-left-item{
            color: black;
        }
        a:hover.navbar-left-item{
            color: $my-primary-color;
        }
        ul{
            li{
                padding-bottom: 20px;
            }
        }
    }
    
    .bar-nps-title{
        font-size: 1.5em;
        float: right;
        padding-bottom: 50px;
    }
    
    .footer-text{
        font-size: 1.7em;
    }

}

@media only screen and (min-width: 1200px) {

}
