// imports 
@import "variables";
@import "gmail-scrollbars";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

object[type^="application/gas-events-uni"] {
    display: none;
}

html, 
body {
    text-shadow: 0 0 #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

#conteudo{
    width: 100%;
}

.fa-facebook-text, .fa-twitter-text, .fa-linkedin-text, .fa-instagram-text{
    display: none;
}

.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-instagram:hover{
    color: $my-primary-color;
}

.social-icons{
    ul{
        list-style: none;
    }
}

md-toolbar#nav_f{
    background-color: white !important;
    color: black !important;
}

.icon-medium{
    font-size: 1.5em;
}

.icon-large{
    font-size: 2em;
}

.slogan{
    
}

#form-submit{
    bottom: 15px;
    i{
        vertical-align: sub;
    }
}

@media only screen and (min-width: 481px) {
    
}

@media only screen and (min-width: 992px) {
    .medium{
        font-size: 1.5em;
    }

    .slogan{
        font-size: 1.2em;
        padding-top: 40px;
    }
    
    .banner{
        padding-top: 50px;
        transform: translateY(25%);
        height: 500px;
    }
    
    #navbar-left{
        .navbar-left-item .material-icons{
            font-size: 1.6em;
            vertical-align: middle;
        }
        a.navbar-left-item{
            text-decoration: none;
            font-size: 1.2em;
        }
        a:active.navbar-left-item, a:visited.navbar-left-item{
            color: black;
        }
        a:hover.navbar-left-item{
            color: $my-primary-color;
        }
        ul{
            li{
                padding-bottom: 20px;
            }
        }
    }
    
    .bar-nps-title{
        font-size: 1.5em;
        float: right;
        padding-bottom: 50px;
    }
    
    .footer-text{
        font-size: 1.7em;
    }

}

@media only screen and (min-width: 1200px) {

}
