<!DOCTYPE html><html lang="pt-br" prefix="og: http://ogp.me/ns#" ng-app="AluminusWebsite" ng-controller="AppController"><head>
  <title>Aluminus Startup</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="theme-color" content="#2196F3"/>
  <meta name="author" content="Arthur Assunção"/>
  <meta name="description" content="Website da Startup Aluminus"/>
  <meta name="keywords" content="Aluminus, Startup, Educação, nps"/>
  <!-- Opengraph-->
  <meta property="og:locale" content="pt_BR"/>
  <meta property="og:title" content="Aluminus Startup"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://aluminus.com.br"/>
  <meta property="og:image" content="assets/img/logo.jpg"/>
  <meta property="og:site_name" content="Aluminus Startup"/>
  <meta property="og:description" content="Website da Startup Aluminus"/>
  <!-- Twitter cards-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="http://aluminus.com.br"/>
  <meta name="twitter:title" content="Aluminus Startup"/>
  <meta name="twitter:description" content="Website da Startup Aluminus"/>
  <meta name="twitter:image" content="assets/img/logo.jpg"/>
  <!-- Windows phone-->
  <meta name="application-name" content="aluminus.com.br"/>
  <meta name="msapplication-TileColor" content="#2196F3"/>
  <!-- Favicon-->
  <link rel="shortcut icon" href="favicon.ico"/>
  <!--<link rel="apple-touch-icon" href="apple-touch-icon.png"/>-->
  <!--<link rel="icon" type="image/png" href="apple-touch-icon.png" sizes="16x16"/>-->
  <!-- CSS-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.min.css"/>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body layout="column" id="top" class="scrollspy ng-cloak">
<div id="principal" layout="row" layout-wrap>
   <div class="container hero" flex="100" layout="row" layout-wrap>
      <md-toolbar layout="row" id="nav_f" flex-sm="100" flex-gt-sm="100">
        <div class="md-toolbar-tools container" layout="row">
          <md-button flex="10" hide-gt-sm flex class="md-icon-button" aria-label="More" ng-click="openSideMenu()">
            <i class="material-icons white-text">more_vert</i>
          </md-button>
          <h1 flex="40" class="logo"><a href="#" class="brand-logo"><img src="assets/img/logo-white.png" width="200px"/></a></h1>
          <div flex="50" layout="row" class="slogan" hide show-gt-xs>
          	<span flex class="slogan-text white-text" layout-wrap layout-padding>Transformando feedback em educação!</span>
          </div>
          <div flex="30" class="social-icons white-text" hide show-gt-sm>
            <div layout="row">
                <span flex="40"></span>
              	<ul flex="50" class="center" layout-wrap layout-padding layout="row">
                    <li flex><a href="#"><i class="icon-medium fa fa-facebook-square"></i><span class="fa-facebook-text"> Facebook</span></a></li>
                    <li flex><a href="#"><i class="icon-medium fa fa-twitter-square"></i><span class="fa-twitter-text"> Twitter</span></a></li>
                    <li flex><a href="#"><i class="icon-medium fa fa-linkedin-square"></i><span class="fa-linkedin-text"> Linkedin</span></a></li>
                    <li flex><a href="#"><i class="icon-medium fa fa-instagram"></i><span class="fa-instagram-text"> Instagram</span></a></li>
                </ul>
            </div>
          </div>
        </div>
      </md-toolbar>
      <div ng-controller="LeftCtrl" flex-sm="20" flex-gt-sm="20" class="navbar-left">
        <md-sidenav class="md-sidenav-left transparent" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
          <!--<md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
          </md-toolbar>-->
          <md-content layout-padding ng-controller="LeftCtrl">
            <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>
              Close Sidenav Left
            </md-button>-->
              <nav id="navbar-left" hide-sm show-gt-xs>
                <ul class="white-text">
                    <li><a href="#" class="navbar-left-item" ng-click="">
              <i class="material-icons">account_circle</i> Login</a></li>
                    <li><a href="#" class="navbar-left-item" ng-click="">
              <i class="material-icons">supervisor_account</i> Equipe</a></li>
                    <li><a href="#" class="navbar-left-item" ng-click="">
              <i class="material-icons">assessment</i> NPS</a></li>
                    <li><a href="#" class="navbar-left-item" ng-click="">
              <i class="material-icons">contact_mail</i> Contato</a></li>
                    <li><a href="#" class="navbar-left-item" ng-click="">
              <i class="material-icons">question_answer</i> FAQ</a></li>
                </ul>
              </nav>
          </md-content>
        </md-sidenav>
      </div>
      <div hide show-xs flex="100"></div>
      <div flex-sm="100" flex-gt-sm="100" layout="row" layout-wrap layout-padding class="container md-block">
          <span flex-xs="100" flex-gt-sm hide show-gt-xs></span>
          <div flex-xs="100" flex-gt-md="50" layout="row" layout-wrap>
              <span flex="100" class="form-contact-text white-text">Tenha uma visão real da satisfação de seus estudantes</span>
              <form flex="100" id="form-contact" name="form-contact" onsubmit="javascript:return false">
                <div layout="row" layout-align="center" >
                  <!--<h5 class="white-text center" flex='100'>Contato</h5>-->
                  <div flex="100" layout="row">
                    <!-- Email-->
                    <i class="material-icons icon-large white-text icon-email">email</i>
                    <md-input-container class="md-icon-float" flex="100">
                      <label>Email</label>
                      <!--<md-icon class="email">
                        </md-icon>-->
                      <input id="form-email" name="email" type="email" ng-model="contato.email" >
                    </md-input-container>
                  </div>
                  <!-- Botao -->
                  <md-button flex="10" id="form-submit" class="md-primary md-raised btn-send" ng-click="submitForm($event)"><i class="material-icons white-text">send</i></md-button>

                </div>
              </form>
          </div>
          <span flex-xs="100" flex-gt-sm hide show-gt-xs></span>
       </div>
    </div>
   <main flex="100" id="conteudo" layout-align="center" layout-wrap layout="row" class="container">
  	<div class="banner" ng-controller="progressCtrl" flex="80">
  	    <span class="bar-nps-title">Descubra a lealdade dos seus alunos.</span>
  		<md-progress-linear md-mode="determinate" value="100"></md-progress-linear>
  	</div>
    <div flex="100" class="ideais white-text">
      <div class="container">
        <div layout="row" layout-wrap layout-align="center" layout-padding>
          <div flex-xs="100" flex-sm="100" flex-md flex-gt-md>
            <div class="center promo"><i class="material-icons icon-xxxxlarge">lightbulb_outline</i>
              <h5 class="promo-caption">Inovação</h5>
              <p class="light center promo-description justify">Acreditamos em nosso potencial de incentivar a cultura de inovação dentro das instituições de Minas Gerais.</p>
            </div>
          </div>
          <div flex-xs="100" flex-sm="100" flex-md flex-gt-md>
            <div class="center promo"><i class="material-icons icon-xxxxlarge">assignment</i>
              <h5 class="promo-caption">Gerenciamento inteligente</h5>
              <p class="light center promo-description justify">Temos como sonho a melhoria das instituições por meio de feedbacks e de uma gestão inteligente que permite reter muito mais os estudantes.</p>
            </div>
          </div>
          <div flex-xs="100" flex-sm="100" flex-md flex-gt-md>
            <div class="center promo"><i class="material-icons icon-xxxxlarge">trending_up</i>
              <h5 class="promo-caption">Melhor estratégia</h5>
              <p class="light center promo-description justify">Com nossa ferramenta, sua instituição de ensino pode analisar os gargalos e criar estratégias de relacionamento com os estudantes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer flex="100" layout="row" layout-align="center" layout-padding class="footer" layout-wrap>
    <div class="container white-text center">
      Aluminus Startup 2016
    </div>
  </footer>

</div>

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="assets/js/modules.js"></script>
<script type="text/javascript" src="assets/js/controllers.js"></script>

<script type="text/javascript" src="assets/js/scripts.js"></script>

</body>
</html>
